---
http_interactions:
- request:
    method: post
    uri: http://www.cibeg.com/_layouts/15/LINKDev.CIB.CurrenciesFunds/FundsCurrencies.aspx/GetCurrencies
    body:
      encoding: UTF-8
      string: '{"lang":"en"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sharepointhealthscore:
      - '0'
      Sprequestguid:
      - bbcab69d-7775-603d-69e8-36d340f9fb56
      Sprequestduration:
      - '16'
      Spiislatency:
      - '0'
      X-Ms-Invokeapp:
      - 1; RequireReadOnly
    body:
      encoding: ASCII-8BIT
      string: '{"d":[{"__type":"LINKDev.CIB.CurrenciesFunds.CIBFund.CurrencyObject","CurrencyID":"USD","BuyRate":15.9,"SellRate":16.05},{"__type":"LINKDev.CIB.CurrenciesFunds.CIBFund.CurrencyObject","CurrencyID":"EUR","BuyRate":17.1904,"SellRate":17.5234},{"__type":"LINKDev.CIB.CurrenciesFunds.CIBFund.CurrencyObject","CurrencyID":"GBP","BuyRate":19.9359,"SellRate":20.292},{"__type":"LINKDev.CIB.CurrenciesFunds.CIBFund.CurrencyObject","CurrencyID":"CHF","BuyRate":16.0433,"SellRate":16.3176},{"__type":"LINKDev.CIB.CurrenciesFunds.CIBFund.CurrencyObject","CurrencyID":"SAR","BuyRate":4.2327,"SellRate":4.281},{"__type":"LINKDev.CIB.CurrenciesFunds.CIBFund.CurrencyObject","CurrencyID":"KWD","BuyRate":52.2074,"SellRate":53.0018}]}'
  recorded_at: Sat, 12 Nov 2016 21:48:36 GMT
recorded_with: VCR 3.0.3
